.field {
    position: relative;
}

.field__label {
    // position: absolute;
    // top: 50%;
    // left: 50%;

    display: block;
    padding: 8px;

    color: $gray-400-color;

    font-size: 24px;
    line-height: 24px;
    text-align: center;

    // transform: translate(-50%, -50%);
    // cursor: text;
}

.field__input {
    width: 100%;
    height: 60px;
    padding: 18px 16px 16px;

    color: $gray-400-color;
    border: 1px solid $gray-200-color;
    border-radius: 4px;

    font-size: 24px;
    line-height: 24px;
    text-align: center;

    transition: border-color 250ms;

    &:hover {
        border-color: $gray-600-color;
    }
    &:active,
    &:focus {
        border-color: $primary-color;
    }
}