.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;

    list-style: none;

    @include breakpoint(medium) {
        flex-direction: row;
    }
}

.menu__item {
    margin: 12px 18px;
}

.menu__link {
    display: block;
    padding: 20px;

    font-size: 14px;
    line-height: 16px;
}