.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 16px 0;

    list-style: none;

    @include breakpoint(medium) {
        flex-direction: row;
        padding: 0;
    }
}

.menu__item {
    @include breakpoint(medium) {
        margin: 12px 18px;
    }
}

.menu__link {
    display: block;
    padding: 12px 16px;

    font-size: 14px;
    line-height: 16px;

    @include breakpoint(medium) {
        padding: 20px;
    }
}