.select {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.select__label {
    display: block;
    padding: 8px;

    color: $gray-400-color;

    font-size: 24px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;

    .select_floating & {
        position: absolute;
        top: 50%;
        left: 50%;
        transition: transform 250ms;

        background-color: $white-color;

        transform: translate(-50%, -50%);
    }

    .select__input:focus + &,
    .select__input_filled + & {
        transform: translate(-50%, -50px) scale(.7);
    }
}

.select__input {
    width: 100%;
    height: 60px;
    padding: 18px 16px 16px;

    border: 1px solid $gray-200-color;
    border-radius: 4px;
    background-color: $white-color;
    background-repeat: no-repeat;
    background-position: top 50% right 20px;
    background-image: url(../img/ico/icon-dropdown.svg);

    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-align-last: center;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 250ms;

    &:hover {
        border-color: $gray-600-color;
    }
    &:active,
    &:focus {
        border-color: $primary-color;
    }
}