$primary-color: #435993;
$secondary-color: #e9efff;
$brown-color: #2e211c;

$white-color: #ffffff;
$gray-200-color: #e5e5e5;
$gray-300-color: #d9d9d9;
$gray-400-color: #c8c8c8;
$gray-500-color: #b3b3b3;
$gray-600-color: #b0b0b0;
$gray-700-color: #9e9e9e;
$gray-900-color: #1c1c1c;
$black-color: #000000;
